{erl_opts, [
    {i, "src"},
    warnings_as_errors,
    warn_export_all
]}.

{clean_files, [
    ".eunit",
    "ebin/*.beam"
]}.

{port_env, [
    {"CFLAGS", "$CFLAGS -Wall -O2 -fPIC"},
    {"LDFLAGS", "$LDFLAGS -lrsync"}
]}.

{port_specs, [
    {"priv/elibrsync.so", ["c_src/elibrsync.c"]}
]}.

{eunit_opts, [
    {report, {eunit_surefire,[{dir,"."}]}}
]}.

{xref_checks, [
    fail_on_warning, 
    undefined_function_calls
]}.
