{erl_opts, [
    {i, "src"},
    warnings_as_errors,
    warn_export_all
]}.

{clean_files, [
    ".eunit",
    "ebin/*.beam"
]}.

{port_env, [
    {"DRV_CFLAGS", "$DRV_CFLAGS -Wall -O2 -fPIC -I c_src/librsync/src"},
    {"DRV_LDFLAGS", "$DRV_LDFLAGS -lrsync -Lc_src/librsync"}
]}.

{pre_hooks, [
    {'get-deps', "c_src/build_deps.sh get-deps"},
    {compile, "c_src/build_deps.sh"}
]}.

{post_hooks, [
    {clean, "c_src/build_deps.sh clean"}
]}.

{port_specs, [
    {"priv/elibrsync.so", ["c_src/elibrsync.c"]}
]}.

{eunit_opts, [
    {report, {eunit_surefire,[{dir,"."}]}}
]}.

{xref_checks, [
    fail_on_warning, 
    undefined_function_calls
]}.
